In [24]:
class Float(float):
    def __repr__(self):
        return super().__repr__()+"F"

class Custom:
    def __init__(self, value):
        self.value = value
    def __repr__(self):
        return self.value
a=Float(1.0)
a

1.0F

In [6]:
import pandas as pd
df = pd.DataFrame([Float(1.2),Float(2.2),Float(3.2)], columns=["a"])
df

     a
0  1.2
1  2.2
2  3.2

In [12]:
df.memory_usage(deep=True)

Index    132
a         24
dtype: int64

In [27]:
df.a = [Float(1.2),Float(2.2),Float(3.2)]

In [21]:
df.a = df.a.astype("object")

In [45]:
df["b"] = [Custom("1.2ddddd"),Custom("2.2"),Custom("3.2")]
df["c"] = ["ABC", "DEF", "GHI"]

In [40]:
df

     a    b
0  1.2  1.2
1  2.2  2.2
2  3.2  3.2

In [46]:
df.memory_usage()

Index    132
a         24
b         24
c         24
dtype: int64

In [47]:
df

     a         b    c
0  1.2  1.2ddddd  ABC
1  2.2       2.2  DEF
2  3.2       3.2  GHI